* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  font-family: sans-serif;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.list {
  display: flex;
}

.item {
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.mt-sm {
  margin-top: 10px;
}
